img{
    pointer-events: none;
}

/* -----------------------------------------------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------------------------------- */


.nav_container_one{
    height:70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 100px 0px 50px;
    position: sticky;
    top: 0px;
}


.nav_container_one_buttonContainer{
    padding: 12px;
    border-radius: 40px;
}
.nav_container_one_button:nth-child(5){
    margin:0px;
    animation: none;
}
.nav_container_one_button{
    height:50px;
    width:120px;
    background-color: transparent;
    outline: none;
    border: 1.5px solid #a7cede;
    border-radius: 12px;
    margin:0px 20px 0px 0px;
    color: #000;
    cursor: pointer;
    backdrop-filter: blur(12px);
    font-size: 20px;
    font-variant: small-caps;
    overflow: hidden;
    transition: all 1.5s ease-out 0s;
    animation: nav_container_one_button-animation 1s ease-out 0s;
    animation-iteration-count: 1;

}
.nav_container_one_button:hover{
    .nav_container_one_button_underline{
        animation: nav_container_one_button_underline-animation 1.5s ease-out 0s;
    }
}
@keyframes nav_container_one_button-animation {
    0%{width: 0px;}
    100%{width: 120px;}
}


.nav_container_one_button_underline{
    border: 1px solid #000;
    position: absolute;
    width: inherit;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #000;
    height:25px;
    left:39px;
    width: inherit;
}
@keyframes nav_container_one_button_underline-animation {
    0%{left:39px}
    50%{left:139px;}
    100%{left:39px}
}


.nav_container_one_button_div{
    position:absolute;
    border-radius: 0px;
    top: 0px;
    left: 0px;
    background-color: #a7cede;
    height: inherit;
    width: 15px;
}   


.nav_container_one_input{
    width:500px;
    height: 30px;
    position: relative;
    top: 5px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #4c1489;
    background-color: transparent;
    color: #000;
    outline: none;
    font-size: 16px;
    backdrop-filter:blur(12px)
}


.nav_container_one_logo{
    height:50px;
    width: 50px;
    border-radius: 25px;
}

/* -----------------------------------------------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------------------------------- */



.main_container_one{
    height: 850px;
    width:1492px;
    padding: 0px 0px;
    background-color: #fff;
    background-size: cover;
    backdrop-filter: grayscale(10px);
}

.main_container_two{
    height: 770px;
    width:1492px;
    padding: 0px 0px;
    margin-top:10px;
}

/* -----------------------------------------------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------------------------------- */


.login_container_one{
    height: 850px;
    width:1492px;
    padding: 0px 0px;
    background-color: #fff;
    border: 1px solid #000;
}

.login_container_one_image{
    pointer-events: none;
    height:200px;
    width:200px;
    position: absolute;
}
.login_container_one_image:nth-child(2){
    margin-left:1292px;
    transform: rotate(90deg);
}
.login_container_one_image:nth-child(3){
    margin-top:650px;
    transform: rotate(-90deg);
}

.login_container_one_image:nth-child(4){
    margin-left:1292px;
    margin-top: 650px;
    transform: rotate(180deg);
}

.login_container_two{
    height: 500px;
    width:400px;
    border:1px solid;
    margin:200px auto  0px auto;
    border-radius: 12px;
    background-color: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 12px;
}

.login_container_two_label{
    font-size: 20px;
    color: #4c1489;
    font-weight: bolder;
    font-variant: small-caps;
}

.login_container_two_input{
    width:376px;
    height: 30px;
    position: relative;
    top: 5px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #4c1489;
    background-color: transparent;
    color: #000;
    outline: none;
}
.login_container_two_button_href{
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    text-decoration: underline;
    color: #4c1489;
    font-weight: bolder;
}

.login_container_two_button{
    height:50px;
    width:120px;
    background-color: transparent;
    outline: none;
    border: 1.5px solid #4c1489;
    border-radius: 12px;
    margin:20px 0px;
    color: #000;
    cursor: pointer;
    backdrop-filter: blur(12px);
    font-size: 20px;
    font-variant: small-caps;
    overflow: hidden;   
    transition: all 0.2s ease-in;
}
.login_container_two_button:hover{
    background-color: #4c1489;
    color: #fff;
}

.login_container_two_image{
    height:200px;
    position: absolute;
    margin-top: 300px;
    margin-left: -320px;
    width:200px;
}

.login_container_three_image{
    position: absolute;
    top: 0;
    margin-top: -155px;
    margin-left: 640px;
    height:500px;
    width:250px;
    border-radius: 12px;
}


/* -----------------------------------------------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------------------------------- */



.signup_container_one{
    height: 850px;
    width:1492px;
    padding: 0px 0px;
    background-color: #fff;
    border: 1px solid #000;
}

.signup_container_one_image{
    height:200px;
    width:200px;
    position: absolute;
    pointer-events: none;
}
.signup_container_one_image:nth-child(2){
    margin-left:1292px;
    transform: rotate(90deg);
}
.signup_container_one_image:nth-child(3){
    margin-top:650px;
    transform: rotate(-90deg);
}

.signup_container_one_image:nth-child(4){
    margin-left:1292px;
    margin-top: 650px;
    transform: rotate(180deg);
}

.signup_container_one_image_signup{
    height:400px;
    width:400px;
    margin:335px 0px 0px 800px;
    position: absolute;
    background-color: #fff;
}

.signup_container_two{
    height: 600px;
    width:400px;
    border:1px solid;
    margin-top:100px;
    margin-left:550px;
    border-radius: 12px;
    background-color: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 12px;
}

.signup_container_two_label{
    font-size: 20px;
    color: #4c1489;
    font-weight: bolder;
    font-variant: small-caps;
}

.signup_container_two_input{
    width:376px;
    height: 30px;
    position: relative;
    top: 5px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #4c1489;
    background-color: transparent;
    color: #000;
    outline: none;
}
.signup_container_two_input_small{
    width:276px;
    height: 30px;
    position: relative;
    top: 5px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #4c1489;
    background-color: transparent;
    color: #000;
    outline: none;
}
.signup_container_two_div_radio{
    height:40px;
    width:100%;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    font-size: 14px;
}
.signup_container_two_button{
    height:50px;
    width:100px;
    background-color: transparent;
    outline: none;
    border: 1.5px solid #4c1489;
    border-radius: 12px;
    margin:10px 10px;
    color: #000;
    cursor: pointer;
    backdrop-filter: blur(12px);
    font-size: 20px;
    font-variant: small-caps;
    overflow: hidden;   
    transition: all 0.2s ease-in;
}
.signup_container_two_button:hover{
    background-color: #4c1489;
    color: #fff;
}



/* -----------------------------------------------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------------------------------------------------------- */


.help_container_one{
    height: 850px;
    width:1492px;
    padding: 0px 0px;
    background-color: #fff;
    background-size: cover;
    backdrop-filter: grayscale(10px);
}

.help_container_two{
    height: 770px;
    width:1492px;
    padding: 0px 0px;
    margin-top:10px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.help_container_three{
    height: 700px;
    width:550px;
    padding: 0px 0px;
    background-color: transparent;
    border: 4px solid #daccfe;
    border-radius: 22px;
    margin: 0px 40px;
    padding: 20px 40px;
}

.help_container_messageSent{
    border: 2px solid #3cc8e9;
    width: fit-content;
    padding: 10px;
    border-radius: 20px;
    border-bottom-right-radius: 0px;
    line-height: 22px;
    margin-left: auto;
}

.help_container_messageReceived{
    border: 2px solid #daccfe;
    width: fit-content;
    padding: 10px;
    border-radius: 20px;
    border-top-left-radius: 0px;
    line-height: 22px;
}

.help_container_questions_div{
    width:535px;
    height:160px;
    overflow-y: scroll;
    position: fixed;
    top:650px;
    padding: 5px 12px;
    margin-left: -38px;
}
.help_container_questions_div_p{
    line-height: 36px;
}
.help_container_questions_div_span{
    padding: 6px 4px;
    border: 1px solid;
    border-radius: 22px;
    margin: 20px 0px;
    cursor: pointer;
}